* {
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
}

#color-palette {
  display: table;
  border-spacing: 0;
  background-color: black;
  margin: 30px auto;
}

.color {
  margin: auto;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
}

.selected {

}

#black {
  background-color: rgb(0, 0, 0);
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
}

#color2 {
  background-color: rgb(255, 0, 0);
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
}

#color3 {
  background-color: rgb(255, 165, 0);
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
}

#color4 {
  background-color: rgb(0, 0, 139);
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
}

#clear-board {
  border: 1px solid rgb(0, 0, 0);
  padding: 0;
  margin: 25px 45%;
  text-align: center;
}

#pixel-board {
  display: table;
  border-spacing: 0;
  background-color: black;
  margin: 30px auto;
}

.pixel {
  background-color: white;
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
}

#button-random-color {
  border: 1px solid rgb(0, 0, 0);
  padding: 0;
  margin: 25px 35%;
  text-align: center;
}
